* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #0F111A;
  color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

common-title, body main .top-ten-movies .top-movie-list .top-movie .top-movie-describe .other-describe .title, body main .miss-old-disney .old-disney-movies .disney-movie-list .disney-movie .title, body main .cartoon-movies-for-adult .list-cartoon-movies .cartoon-for-adult-movie-container .cartoon-for-adult-movie-list .title, .list-new-movie .new-movies .new-movie-list .new-movie .title {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: 700;
}

common-sub-title, body main .top-ten-movies .top-movie-list .top-movie .top-movie-describe .other-describe .sub-title, body main .miss-old-disney .old-disney-movies .disney-movie-list .disney-movie .sub-title, body main .cartoon-movies-for-adult .list-cartoon-movies .cartoon-for-adult-movie-container .cartoon-for-adult-movie-list .sub-title, .list-new-movie .new-movies .new-movie-list .new-movie .sub-title {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #AAAAAA;
  font-weight: 500;
}

common-see-more, body main .content .categories .category-title .see-more {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-decoration: none;
}

common-categories-title, body main .genre-suggestions h2, body main .top-ten-movies .top-movies-title h2, body main .miss-old-disney .old-disney-movies .disney-movies-title h2, body main .cartoon-movies-for-adult .list-cartoon-movies .list-cartoon-movies-title h2, body main .newest-anime .newest-anime-banner .list-cartoon-movies-title h2 {
  font-size: 25.2px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 20px;
}

common-topic-title, body main .genre-suggestions .list-genres .genre1 .genre-detail .topic-title, body main .genre-suggestions .list-genres .genre2 .genre-detail .topic-title, body main .genre-suggestions .list-genres .genre3 .genre-detail .topic-title, body main .genre-suggestions .list-genres .genre4 .genre-detail .topic-title, body main .genre-suggestions .list-genres .genre5 .genre-detail .topic-title, body main .genre-suggestions .list-genres .genre6 .genre-detail .topic-title, body main .genre-suggestions .list-genres .other-genre .genre-detail .topic-title {
  font-size: 22.4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  color: white;
}

common-topic-detail, body main .genre-suggestions .list-genres .genre1 .genre-detail .topic-detail, body main .genre-suggestions .list-genres .genre2 .genre-detail .topic-detail, body main .genre-suggestions .list-genres .genre3 .genre-detail .topic-detail, body main .genre-suggestions .list-genres .genre4 .genre-detail .topic-detail, body main .genre-suggestions .list-genres .genre5 .genre-detail .topic-detail, body main .genre-suggestions .list-genres .genre6 .genre-detail .topic-detail, body main .genre-suggestions .list-genres .other-genre .genre-detail .topic-detail {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: white;
}

.list-new-movie {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #191B24;
}
.list-new-movie .new-movies {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
}
.list-new-movie .new-movies .new-movies-title {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0;
}
.list-new-movie .new-movies .new-movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.list-new-movie .new-movies .new-movie-list .new-movie {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 0.75rem;
}
.list-new-movie .new-movies .new-movie-list .new-movie .new-movie-img {
  max-width: 183px;
  max-height: 274px;
  width: 100%;
  padding-bottom: 150%;
  height: 0;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #2F3346;
  transition: all 0.1s ease;
}
.list-new-movie .new-movies .new-movie-list .new-movie .new-movie-img:hover {
  opacity: 0.8;
}
.list-new-movie .new-movies .new-movie-list .new-movie .new-movie-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  opacity: 1;
}
.list-new-movie .new-movies .new-movie-list .new-movie p {
  font-size: 14px;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0F111A;
  width: 100%;
  padding: 10px 20px;
  gap: 1.5rem;
}
body header .logo {
  width: 150px;
  flex-shrink: 0;
}
body header .logo img {
  width: 100%;
}
body header .search-bar {
  flex: 1 1 auto;
  position: relative;
  max-width: 368px;
  height: 44.8px;
}
body header .search-bar input {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.0784313725);
  border: 0 solid;
  border-radius: 5px;
}
body header .nav-menu {
  display: flex;
  gap: 0.5rem;
}
body header .nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 8px;
}
body header .user-actions {
  display: flex;
  padding: 0 20px;
}
body header .user-actions .account {
  display: flex;
  flex-direction: column;
  border-right: 1px solid white;
  padding: 0 20px;
}
body header .user-actions .account a {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body header .user-actions .member {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 13px;
  width: 125px;
  height: 40.58px;
  justify-content: center;
  background-color: white;
}
body header .user-actions .member a {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bolder;
  color: #333;
}
body main {
  width: 100%;
  overflow: hidden;
}
body main .main-banner {
  width: 100%;
  height: 660px;
  position: relative;
}
body main .main-banner .movie-poster-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
body main .main-banner .movie-poster-container .movie-poster {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
body main .main-banner .movie-poster-container .movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body main .main-banner .movie-poster-container .movie-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 0 30px 60px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
body main .main-banner .movie-poster-container .background-effect {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #535D8E 25%, transparent 90%);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
body main .main-banner .movie-poster-container .background-effect .movie-title-img {
  max-width: 500px;
  max-height: 130px;
}
body main .main-banner .movie-poster-container .background-effect .movie-title-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body main .main-banner .movie-poster-container .banner-movie-title {
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1rem;
}
body main .main-banner .movie-poster-container .banner-movie-title a {
  color: #ffd875;
  font-size: 15.4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body main .main-banner .movie-poster-container .tag-slide-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-bottom: 0.75rem;
}
body main .main-banner .movie-poster-container .tag-slide-content .tag-imdb {
  background-color: transparent;
  border: 1px solid #f0d25c;
  border-radius: 0.33rem;
  color: #fff;
  font-weight: 500;
  cursor: default;
  line-height: 24px;
  font-size: 12px;
  padding: 0 0.4rem;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
}
body main .main-banner .movie-poster-container .tag-slide-content .tag-quality {
  padding: 0 0.4rem;
  border-radius: 0.33rem;
  height: 26px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #FFD875;
  background-image: linear-gradient(220deg, #FFD875, #FFF);
}
body main .main-banner .movie-poster-container .tag-slide-content .tag-model {
  background-color: #fff;
  color: #000;
  font-weight: 500;
  display: flex;
  overflow: hidden;
  cursor: default;
  line-height: 26px;
  padding: 0 0.5rem;
  flex-shrink: 0;
  border-radius: 0.33rem;
  align-items: center;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body main .main-banner .movie-poster-container .tag-slide-content .tag-classic {
  background-color: rgba(255, 255, 255, 0.062745098);
  height: 26px;
  padding: 0.4rem;
  color: #fff;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 0.33rem;
  align-items: center;
  font-size: 12px;
}
body main .main-banner .movie-poster-container .movie-topics {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-bottom: 0.75rem;
}
body main .main-banner .movie-poster-container .movie-topics .tag-topic {
  background-color: rgba(255, 255, 255, 0.062745098);
  height: 26px;
  padding: 0 0.4rem;
  color: #fff;
  display: inline-flex;
  border-radius: 0.33rem;
  align-items: center;
  font-size: 12px;
}
body main .main-banner .movie-poster-container .movie-describe {
  font-size: 1em;
  line-height: 1.6;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  margin-bottom: 2rem;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body main .main-banner .right-side {
  display: flex;
  position: absolute;
  right: 0;
  padding: 0 30px 60px;
  bottom: 0;
  z-index: 3;
}
body main .main-banner .right-side .right-side-movie {
  max-width: 63.49px;
  max-height: 38.95px;
  margin-right: 5px;
}
body main .main-banner .right-side .right-side-movie img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 10px;
}
body main .genre-suggestions {
  width: 100%;
  background-color: #191b24;
}
body main .genre-suggestions .list-genres {
  padding: 0 20px 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}
body main .genre-suggestions .list-genres .genre1, body main .genre-suggestions .list-genres .genre2, body main .genre-suggestions .list-genres .genre3, body main .genre-suggestions .list-genres .genre4, body main .genre-suggestions .list-genres .genre5, body main .genre-suggestions .list-genres .genre6, body main .genre-suggestions .list-genres .other-genre {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  min-height: 110px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
body main .genre-suggestions .list-genres .genre1:hover, body main .genre-suggestions .list-genres .genre2:hover, body main .genre-suggestions .list-genres .genre3:hover, body main .genre-suggestions .list-genres .genre4:hover, body main .genre-suggestions .list-genres .genre5:hover, body main .genre-suggestions .list-genres .genre6:hover, body main .genre-suggestions .list-genres .other-genre:hover {
  transform: translateY(-5px) scale(1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
body main .genre-suggestions .list-genres .genre1 {
  background-color: #007aff;
}
body main .genre-suggestions .list-genres .genre1 .genre-detail {
  padding: 0;
  width: 152px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.7rem;
}
body main .genre-suggestions .list-genres .genre2 {
  background-color: #757575;
}
body main .genre-suggestions .list-genres .genre2 .genre-detail {
  padding: 0;
  width: 152px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.7rem;
}
body main .genre-suggestions .list-genres .genre3 {
  background-color: #20c997;
}
body main .genre-suggestions .list-genres .genre3 .genre-detail {
  padding: 0;
  width: 152px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.7rem;
}
body main .genre-suggestions .list-genres .genre4 {
  background-color: #6f42c1;
}
body main .genre-suggestions .list-genres .genre4 .genre-detail {
  padding: 0;
  width: 152px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.7rem;
}
body main .genre-suggestions .list-genres .genre5 {
  background-color: #d63384;
}
body main .genre-suggestions .list-genres .genre5 .genre-detail {
  padding: 0;
  width: 152px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.7rem;
}
body main .genre-suggestions .list-genres .genre6 {
  background-color: #dc3545;
}
body main .genre-suggestions .list-genres .genre6 .genre-detail {
  padding: 0;
  width: 152px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.7rem;
}
body main .genre-suggestions .list-genres .other-genre {
  background-color: #6c757d;
}
body main .genre-suggestions .list-genres .other-genre .genre-detail {
  padding: 0;
  width: 152px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
body main .genre-suggestions .list-genres .other-genre .genre-detail {
  padding: 0;
  width: 152px;
  max-height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
body main .content {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #191B24;
}
body main .content .categories {
  display: flex;
  padding: 32px;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
body main .content .categories .category-title {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 184px;
  max-height: 111.89px;
  gap: 1.5rem;
}
body main .content .categories .category-title h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  background: linear-gradient(235deg, white 30%, #674196 130%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body main .content .categories .movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
body main .content .categories .movie-list .movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 10px;
}
body main .content .categories .movie-list .movie .movie-img-container {
  max-width: 360px;
  max-height: 202px;
}
body main .content .categories .movie-list .movie .movie-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
body main .content .categories .movie-list .movie p {
  padding: 12px 16px;
  font-size: 14px;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body main .top-ten-movies {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #191B24;
}
body main .top-ten-movies .top-movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}
body main .top-ten-movies .top-movie-list .top-movie {
  width: 100%;
  height: auto;
}
body main .top-ten-movies .top-movie-list .top-movie:nth-child(even) .thumbnail {
  transform: scale(-1, 1);
}
body main .top-ten-movies .top-movie-list .top-movie:nth-child(even) .thumbnail .top-movie-img {
  transform: scale(1, 1);
}
body main .top-ten-movies .top-movie-list .top-movie:nth-child(even) .thumbnail .top-movie-img img {
  transform: scale(-1, 1);
}
body main .top-ten-movies .top-movie-list .top-movie .thumbnail {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 406.5px;
}
body main .top-ten-movies .top-movie-list .top-movie .thumbnail:hover .top-movie-img {
  width: 98%;
  height: 98%;
  top: 4px;
  left: 3px;
}
body main .top-ten-movies .top-movie-list .top-movie .thumbnail:hover .top-movie-img img {
  opacity: 0.8;
}
body main .top-ten-movies .top-movie-list .top-movie .thumbnail:hover .top-movie-layer {
  opacity: 1;
}
body main .top-ten-movies .top-movie-list .top-movie .thumbnail .top-movie-img {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  object-fit: cover;
  z-index: 5;
  transition: all 0.1s ease;
  -webkit-clip-path: polygon(94.239% 100%, 5.761% 100%, 5.761% 100%, 4.826% 99.95%, 3.94% 99.803%, 3.113% 99.569%, 2.358% 99.256%, 1.687% 98.87%, 1.111% 98.421%, 0.643% 97.915%, 0.294% 97.362%, 0.075% 96.768%, 0 96.142%, 0 3.858%, 0 3.858%, 0.087% 3.185%, 0.338% 2.552%, 0.737% 1.968%, 1.269% 1.442%, 1.92% 0.984%, 2.672% 0.602%, 3.512% 0.306%, 4.423% 0.105%, 5.391% 0.008%, 6.4% 0.024%, 94.879% 6.625%, 94.879% 6.625%, 95.731% 6.732%, 96.532% 6.919%, 97.272% 7.178%, 97.942% 7.503%, 98.533% 7.887%, 99.038% 8.323%, 99.445% 8.805%, 99.747% 9.326%, 99.935% 9.88%, 100% 10.459%, 100% 96.142%, 100% 96.142%, 99.925% 96.768%, 99.706% 97.362%, 99.357% 97.915%, 98.889% 98.421%, 98.313% 98.87%, 97.642% 99.256%, 96.887% 99.569%, 96.06% 99.803%, 95.174% 99.95%, 94.239% 116%);
  clip-path: polygon(94.239% 100%, 5.761% 100%, 5.761% 100%, 4.826% 99.95%, 3.94% 99.803%, 3.113% 99.569%, 2.358% 99.256%, 1.687% 98.87%, 1.111% 98.421%, 0.643% 97.915%, 0.294% 97.362%, 0.075% 96.768%, 0 96.142%, 0 3.858%, 0 3.858%, 0.087% 3.185%, 0.338% 2.552%, 0.737% 1.968%, 1.269% 1.442%, 1.92% 0.984%, 2.672% 0.602%, 3.512% 0.306%, 4.423% 0.105%, 5.391% 0.008%, 6.4% 0.024%, 94.879% 6.625%, 94.879% 6.625%, 95.731% 6.732%, 96.532% 6.919%, 97.272% 7.178%, 97.942% 7.503%, 98.533% 7.887%, 99.038% 8.323%, 99.445% 8.805%, 99.747% 9.326%, 99.935% 9.88%, 100% 10.459%, 100% 96.142%, 100% 96.142%, 99.925% 96.768%, 99.706% 97.362%, 99.357% 97.915%, 98.889% 98.421%, 98.313% 98.87%, 97.642% 99.256%, 96.887% 99.569%, 96.06% 99.803%, 95.174% 99.95%, 94.239% 100%);
}
body main .top-ten-movies .top-movie-list .top-movie .thumbnail .top-movie-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.1s ease;
}
body main .top-ten-movies .top-movie-list .top-movie .thumbnail .top-movie-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  clip-path: polygon(94.239% 100%, 5.761% 100%, 5.761% 100%, 4.826% 99.95%, 3.94% 99.803%, 3.113% 99.569%, 2.358% 99.256%, 1.687% 98.87%, 1.111% 98.421%, 0.643% 97.915%, 0.294% 97.362%, 0.075% 96.768%, 0 96.142%, 0 3.858%, 0 3.858%, 0.087% 3.185%, 0.338% 2.552%, 0.737% 1.968%, 1.269% 1.442%, 1.92% 0.984%, 2.672% 0.602%, 3.512% 0.306%, 4.423% 0.105%, 5.391% 0.008%, 6.4% 0.024%, 94.879% 6.625%, 94.879% 6.625%, 95.731% 6.732%, 96.532% 6.919%, 97.272% 7.178%, 97.942% 7.503%, 98.533% 7.887%, 99.038% 8.323%, 99.445% 8.805%, 99.747% 9.326%, 99.935% 9.88%, 100% 10.459%, 100% 96.142%, 100% 96.142%, 99.925% 96.768%, 99.706% 97.362%, 99.357% 97.915%, 98.889% 98.421%, 98.313% 98.87%, 97.642% 99.256%, 96.887% 99.569%, 96.06% 99.803%, 95.174% 99.95%, 94.239% 116%);
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #FFD875;
  opacity: 0;
  transition: all 0.1s ease;
}
body main .top-ten-movies .top-movie-list .top-movie .top-movie-describe {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
  color: white;
  display: flex;
}
body main .top-ten-movies .top-movie-list .top-movie .top-movie-describe .top-number {
  font-size: 58.8px;
  font-weight: 700;
  background: linear-gradient(39deg, rgb(254, 207, 89), rgb(255, 241, 204));
  flex-shrink: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
}
body main .top-ten-movies .top-movie-list .top-movie .top-movie-describe .other-describe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
body main .top-ten-movies .top-movie-list .top-movie .top-movie-describe .other-describe ul {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
  font-size: 13px;
  color: #ccc;
}
body main .miss-old-disney {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #191B24;
}
body main .miss-old-disney .old-disney-movies {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
}
body main .miss-old-disney .old-disney-movies .disney-movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
body main .miss-old-disney .old-disney-movies .disney-movie-list .disney-movie {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 0.75rem;
}
body main .miss-old-disney .old-disney-movies .disney-movie-list .disney-movie .dis-movie-img {
  max-width: 183px;
  max-height: 274px;
  width: 100%;
  padding-bottom: 150%;
  height: 0;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #2F3346;
  transition: all 0.1s ease;
}
body main .miss-old-disney .old-disney-movies .disney-movie-list .disney-movie .dis-movie-img:hover {
  opacity: 0.8;
}
body main .miss-old-disney .old-disney-movies .disney-movie-list .disney-movie .dis-movie-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  opacity: 1;
}
body main .cartoon-movies-for-adult {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #191B24;
}
body main .cartoon-movies-for-adult .list-cartoon-movies {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 1rem;
}
body main .cartoon-movies-for-adult .list-cartoon-movies .cartoon-for-adult-movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
body main .cartoon-movies-for-adult .list-cartoon-movies .cartoon-for-adult-movie-container .cartoon-for-adult-movie-list .cartoon-movie {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 0.75rem;
}
body main .cartoon-movies-for-adult .list-cartoon-movies .cartoon-for-adult-movie-container .cartoon-for-adult-movie-list .cartoon-movie-img {
  max-width: 275.5px;
  max-height: 311.25px;
  width: 100%;
  padding-bottom: 150%;
  height: 0;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: #2F3346;
  transition: all 0.1s ease;
}
body main .cartoon-movies-for-adult .list-cartoon-movies .cartoon-for-adult-movie-container .cartoon-for-adult-movie-list .cartoon-movie-img:hover {
  opacity: 0.8;
}
body main .cartoon-movies-for-adult .list-cartoon-movies .cartoon-for-adult-movie-container .cartoon-for-adult-movie-list .cartoon-movie-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover;
  opacity: 1;
}
body main .newest-anime {
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #191B24;
}
body main .newest-anime .newest-anime-banner {
  padding: 20px;
  gap: 1rem;
}
body main .newest-anime .newest-anime-banner .newest-anime-container {
  position: relative;
  width: 100%;
  height: 460px;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .newest-anime-background-effect {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #535D8E 20%, transparent 90%);
  opacity: 0.5;
  border-radius: 20px 0 0 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .newest-anime-background-wrapper {
  width: 70%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .newest-anime-background-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 0 20px 20px 0;
  object-fit: cover;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 0 30px 60px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .movie-title {
  font-size: 25.2px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .banner-movie-title {
  font-size: 1.1em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1rem;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .banner-movie-title a {
  color: #ffd875;
  font-size: 15.4px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .tag-slide-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-bottom: 0.75rem;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .tag-slide-content .tag-imdb {
  background-color: transparent;
  border: 1px solid #f0d25c;
  border-radius: 0.33rem;
  color: #fff;
  font-weight: 500;
  cursor: default;
  line-height: 24px;
  font-size: 12px;
  padding: 0 0.4rem;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .tag-slide-content .tag-quality {
  padding: 0 0.4rem;
  border-radius: 0.33rem;
  height: 26px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #FFD875;
  background-image: linear-gradient(220deg, #FFD875, #FFF);
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .tag-slide-content .tag-model {
  background-color: #fff;
  color: #000;
  font-weight: 500;
  display: flex;
  overflow: hidden;
  cursor: default;
  line-height: 26px;
  padding: 0 0.5rem;
  flex-shrink: 0;
  border-radius: 0.33rem;
  align-items: center;
  font-size: 12px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .tag-slide-content .tag-classic {
  background-color: rgba(255, 255, 255, 0.062745098);
  height: 26px;
  padding: 0.4rem;
  color: #fff;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 0.33rem;
  align-items: center;
  font-size: 12px;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .movie-topics {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-bottom: 0.75rem;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .movie-topics .tag-topic {
  background-color: rgba(255, 255, 255, 0.062745098);
  height: 26px;
  padding: 0 0.4rem;
  color: #fff;
  display: inline-flex;
  border-radius: 0.33rem;
  align-items: center;
  font-size: 12px;
}
body main .newest-anime .newest-anime-banner .newest-anime-container .movie-content .movie-describe {
  font-size: 1em;
  line-height: 1.6;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 400;
  margin-bottom: 2rem;
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body main .newest-anime .newest-anime-banner .another-movie-side {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
}
body main .newest-anime .newest-anime-banner .another-movie-side .another-movie {
  width: 59.06px;
  height: 88.59px;
  border-radius: 10px;
}
body main .newest-anime .newest-anime-banner .another-movie-side .another-movie img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #282B3A;
}
body main .user-reaction {
  width: 100%;
  padding: 0 20px;
  display: flex;
  gap: 1rem;
  background-color: #191B24;
}
body main .user-reaction .top-comment {
  width: 100%;
  padding: 20px;
  gap: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.1333333333);
  border-radius: 30px;
}
body main .user-reaction .top-comment .comment-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
}
body main .user-reaction .top-comment .comment-container .comment-title {
  font-size: 14px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-bottom: 20px;
}
body main .user-reaction .top-comment .comment-container .users-comment {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment {
  width: 100%;
  aspect-ratio: 4/3;
  position: relative;
  border-radius: 10px;
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment .comment-detail {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
  mask-image: linear-gradient(180deg, black 0, transparent 80%);
  overflow: hidden;
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment .comment-detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment .user-comment-content {
  position: absolute;
  top: 40px;
  left: 20px;
  z-index: 2;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  color: #fff;
  width: calc(100% - 20px);
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment .user-comment-content .avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.5rem;
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment .user-comment-content .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment .user-comment-content .user-name {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 0.3rem;
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment .user-comment-content .movie-comment {
  font-size: 12px;
  line-height: 1.4;
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment .movie-img {
  width: 50px;
  height: 57px;
  position: absolute;
  top: 40px;
  right: 50px;
}
body main .user-reaction .top-comment .comment-container .users-comment .list-comment .movie-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/*# sourceMappingURL=index.css.map */
